<div class="container">
<div class="jumbotron">
  <h1>What the what?</h1>
  <p>After many hours of googling and reading oodles of documentation, you <em>still</em> don't have a project idea, know how to render a partial, or understand why <code>.map()</code> is useful.<br>
   Here you can learn that functions are selfish when you use <code>.this</code> and why Ruby is picky with namespace.(what the @#?! is namespace?) <br>
    Need a project? Check out has_many_ideas corner for references. <br>
    If you caught the bug to program, this site is your new best friend.</p>
  <p><a class="btn btn-primary btn-lg"><%= link_to "Sign Up", "/auth/github"%></a></p>
</div>
</div>