<div class="jumbotron">
  	<h1>Want to contribute?</h1>
  	<p> Sign in with Gihub and share your thoughts!</p>
  	<p><%= link_to "Sign Up", "/auth/github", class: "btn btn-primary btn-lg"%></p>
	</div>