// Place all the styles related to the technews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer{
	background: #3F51B5;
    color: #fff;
    padding: 20px;
    margin: 40px 0 0 0;
    bottom: 0;
    position: relative;
}